
.durham .container{
    color: #12284C;
    margin-top: 72px;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.durham .intro h1 {
    color: #ceb5b1;
}
.durham .intro h5 {
    font-weight: bold;
}
.durham .intro h2 {
    font-weight: 800;
}
.durham .intro p {
    color: #12284cad;
}
.durham .intro ol {
    font-weight: 600;
}


.durham .container .intro {
    margin: 20px;
}



.bootstrap-durhamCarousel{
    display: none;
}
.durham-owl-carousel .item{
    height: 400px;
}
.durham-owl-carousel .item img{
    height: inherit;
    border: 8px solid #020202;
    border-radius: 30px;
}
.durham-owl-carousel .owl-nav {
    font-size: 45px;
}
.durham .Icongraphic{
    box-shadow: 3px 8px 18px 4px;
    border-radius: 20px;
}
.durham .Icongraphic .owl-carousel{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}
.durham .Icongraphic .card{
    border: none;
    color: #020202;
}
.durham .Icongraphic .card img{
    border: 8px solid #020202;
    border-radius: 22px;
}




/* Mobile view */

.durhamCarousel1 .carousel-caption {
    position: initial;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #020202;
    text-align: initial;
}
.durhamCarousel1 .carousel-item {
    margin-bottom: 50px;
}
.durhamCarousel1 .sometxt {
    margin-top: -10px;
    margin-bottom: -22px;
}
.durhamCarousel1 .sometxt p{
    margin-left: 5px;
}
.durhamCarousel1 .carousel-item, .durhamCarousel2 .carousel-item img {
    border: 5px solid #12284C;
    border-radius: 15px;
    background-color: #fff2f4;
}
.durhamCarousel2 .carousel {
   height: 65vh;
}

.visualIconText{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.1rem;
}
.visualIconText span{
    margin-top: 20px;
    font-weight: 900;
}
.previewImages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: revert;
}
.previewImages div{
    height: 6vh;
    width: 18vw;
    border: 2px solid;
}
.calendar{
    text-align: center;
    font-weight: 800;
    color: #cea5ac59;
}

.durham .desktop-carousel {
    margin-top: 22px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 574px) { 
    .durham .desktop-view{
        display: none
    }
    .durham .container{
        height: 100vh;
    }
    .bootstrap-durhamCarousel{
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 768px){ 
   
    .durham .desktop-view{
        display: none
    }
    .durham .container{
        height: 100vh;
    }
    .bootstrap-durhamCarousel{
        display: block;
    }
    

}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .bootstrap-durhamCarousel{
        display: none;
    }
    
   
   
}

