nav{
    background-color: #12284C;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav button {
    margin-right: 5px;
}
/* Mobile view */
.navbar-collapse ul{
    border-top: 2px solid whitesmoke;
    height: 91vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dedede;
}
.navbar-toggler{
    border: 2px solid white;
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #12284C;
}
