.navbar{
    z-index: 20;
    width: -webkit-fill-available;
}
nav{
    position: fixed;
    background-color: #12284C;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav button {
    margin-right: 5px;
}

.desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-menu.show{
    color: #12284C;
    background-color: #fff2f2;
    border: 1px solid #fff2f2;
    inset: -4.5px auto auto 0px !important;
    margin-left: 1.5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.dropdown-menu.show a{
    color: #12284C;
    
}
.dropdown-menu.show .dropdown-divider{
    border: 2px solid white;
    
}
.dropdown-menu.show a:active{
    background: none;
    
}
.dropdown .btn {
    background-color: #12284C;
    border: 3px solid #fff2f2;
    font-weight: 700; 

}
.dropdown .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: none !important;
    background-color: #12284C !important;
    border: 3px solid #fff2f2 !important; 
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; 
      
}

.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #12284C !important;
    border: 3px solid #fff2f2 !important;
    
}

.nav-contact a{
    font-weight: 700;
    color: #fff2f2;
}


/* Mobile view */


/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 574px) { 
    .navbar-collapse ul{
        border-top: 2px solid whitesmoke;
        height: 91vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #dedede;
    }
    .navbar-toggler{
        border: 2px solid white;
        background-color: white;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #12284C;
    }
    .desktop-nav{
        display: none;
    }
    

}
@media (min-width: 576px) { 
    .navbar-collapse ul{
        border-top: 2px solid whitesmoke;
        height: 91vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #dedede;
    }
    .navbar-toggler{
        border: 2px solid white;
        background-color: white;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #12284C;
    }
    .desktop-nav{
        display: none;
    }
    

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .navbar-collapse ul{
        border-top: 2px solid whitesmoke;
        height: 91vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #dedede;
    }
    .navbar-toggler{
        border: 2px solid white;
        background-color: white;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #12284C;
    }
    .desktop-nav{
        display: none;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-expand-lg .navbar-nav {
        display: none;
    }
    .desktop-nav{
        display: flex;
    }
 }

