.branding{
    color: #12284C;
    text-align: center;
}
.branding h5, .branding h6 {
    font-weight: 700;
}
.branding article{
    height: 100vh
}
.branding .olympics{
    font-weight: 700;
    margin-top: 7vh;
}
.branding .carousel{
    margin-top: 7vh;
}
.branding .carousel-item{
    margin-bottom: 8vh;
}
.branding .branding-update{
    font-weight: 700;
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
    .brand-logos img{
    width: 54%!important;
    }
    
.brand-logos .carousel-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
}